<!DOCTYPE html>
<html lang="en">
 
<head>

        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">  
    
        <title>Flask App</title>
 
 
        <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
        <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
        

 
</head>
 
<body>
 
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="#">Report</a>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted">Faux Data</h3>
        </div>
 
        
        <div id={{ chartID|safe }} class="chart" style="height: 300px; width: 500px"></div>
        <script>
            var chart_id = {{ chartID|safe }}
            var series = {{ series|safe }}
            var title = {{ title|safe }}
            var xAxis = {{ xAxis|safe }}
            var yAxis = {{ yAxis|safe }}
            var chart = {{ chart|safe }}
        </script>
            <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script> 
            <script src="http://code.highcharts.com/highcharts.js"></script>       
            <script src="../static/js/random.js"></script>
                

        <footer class="footer">
            <p>&copy; Random Faux Data</p>
        </footer>
 
    </div>
</body>
 
</html>